/* styles/Login.module.css */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f4f8; /* Cor de fundo suave */
}

.title {
    margin-bottom: 20px;
    color: #333; /* Cor do texto do título */
}

.form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button {
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background-color: #0070f3; /* Cor do botão */
    color: white;
    cursor: pointer;
}

.button:hover {
    background-color: #005bb5; /* Cor do botão ao passar o mouse */
}

.message {
    margin-top: 10px;
    color: red; /* Cor da mensagem de erro */
}
