.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom right, #1a237e, #42a5f5); /* Gradiente azul */
    font-family: Arial, sans-serif;
}

.formContainer {
    max-width: 400px;
    width: 90%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    background-color: #ffffff; /* Fundo branco para melhor contraste */
    position: relative;
}

.title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.backButton {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.backButton:hover {
    background-color: #d32f2f;
}

.form {
    display: flex;
    flex-direction: column;
}

.formGroup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.label {
    margin-bottom: 5px;
    font-weight: bold;
    flex: 1;
    text-align: left;
}

.input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex: 2;
    transition: border-color 0.3s;
}

.input:focus {
    border-color: #00796b; /* Destaque no campo ao focar */
}

.button {
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #45a049;
}

.message {
    margin-bottom: 10px;
    color: red;
    text-align: center;
    font-size: 14px;
}

.message.success {
    color: green;
}
